body {
    margin: 0;
    font-family: "Segoe UI", Arial, sans-serif;
    background-color: #f0fdf4;
    color: #1f2937;
}

/* PROFILE */
.profile {
    text-align: center;
    padding: 40px 20px;
    background-color: #14532d;
    color: white;
}

.profile img {
    width: 150px;
    height: 160px;
    border-radius: 50%;
    border: 4px solid #bbf7d0;
    margin-bottom: 15px;
}

/* MAIN */
main {
    max-width: 900px;
    margin: auto;
}

/* SECTIONS */
section {
    padding: 30px 40px;
}

section h2 {
    color: #14532d;
    border-bottom: 2px solid #22c55e;
    padding-bottom: 5px;
}

/* LIGHT BACKGROUND */
.bg {
    background-color: #ecfdf5;
}

/* SKILLS */
.skills span {
    display: inline-block;
    background-color: #dcfce7;
    color: #166534;
    padding: 6px 14px;
    margin: 6px;
    border-radius: 18px;
    font-size: 14px;
}

/* PROJECTS */
.project {
    background-color: #ffffff;
    padding: 15px;
    margin-bottom: 15px;
    border-left: 5px solid #22c55e;
    box-shadow: 0 2px 6px rgba(0,0,0,0.08);
}

.project span {
    font-size: 13px;
    color: #065f46;
}
/* CERTIFICATES */
.certificates {
    list-style: none;
    padding-left: 0;
}

.certificates li {
    background-color: #ffffff;
    margin: 10px 0;
    padding: 12px 15px;
    border-left: 5px solid #22c55e;
    box-shadow: 0 2px 6px rgba(0,0,0,0.08);
    font-size: 15px;
}

/* FOOTER */
footer {
    text-align: center;
    padding: 15px;
    background-color: #14532d;
    color: #d1fae5;
}
